.react-calendar__tile--now {
  background-color: lightgray !important;
}

.react-calendar__tile--hasActive {
  background: none !important;
}

.react-calendar__tile--active {
  color: inherit !important;
  background: inherit !important;
}

.highlight {
  background-color: #90ee90 !important;
}
